<!DOCTYPE html>
<html lang="en">

<head>
    <title>My Awesome App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--Mobile JS libraries for swipeleft event-->
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <!--<script src="../myjs.js"></script>-->
    <script>
        /*
        document.onload = function(){toWelcome()};
        
        function toWelcome() {
            //window.location.assign("/welcome/1");
            alert("page is loaded");
        }
        */
        $(document).ready(function () {
            $("p").click(function () {
                $(this).hide()
                //jquery post request to leftswipe and right swipe which would update db

                //location assign to same url with different image id
                window.location.assign("/home");
            });
        });
        
    </script>

</head>

<body>
    {{{body}}}

</body>

</html>