{{#if error}}
    <p>{{error}}</p>
{{/if}}

<p>Please enter your phone number starting with +91 to recieve the otp</p>

<form action="/signup/step2" method="post">
    <input type="tel" name="number" id="#phonenumber" placeholder="Telephone no...">
    <input type="submit" value="Send Code">
</form>
