<h2>Welcome {{ firstName }} {{ lastName }}</h2>

<div style = "align-content: center;">
    <img src="../assets/{{imgId}}.png" alt="Swipe left or right">
    <span id = "imageNo" >{{imgId}}</span>
</div>
